{% extends 'layout.html' %}
{% block content %}
<div class="upload-container">
    <div class="border-container">
        <div class="icons fa-4x">
            <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
            <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
            <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
        </div>
        <input type="file" id="file-upload">
        <p>Drag and drop files here, or 
        <a href="#" id="file-browser">browse</a> your computer.</p>
    </div>
</div>
{% endblock %}

